#Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

#InfluxDB
DOCKER_INFLUXDB_INIT_MODE=setup 
DOCKER_INFLUXDB_INIT_USERNAME=admin
DOCKER_INFLUXDB_INIT_PASSWORD=adminAdmin
DOCKER_INFLUXDB_INIT_ORG=organization
DOCKER_INFLUXDB_INIT_BUCKET=system
DOCKER_INFLUXDB_INIT_ADMIN_TOKEN=superSecureToken
